#加密配置
jasypt:
  encryptor:
    password: lengleng

server:
  tomcat:
    max-threads: 500 # 工作线程的最大数量。 
    min-spare-threads: 50 # 最小工作线程数

spring:
  redis:
    remote: false        #cachecloud 高速缓存获取
    host: 127.0.0.1
    port: 6379
    password:
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: vas
    password: vas
  http:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB

redis:
  cache:
    expiration: 3601

ribbon:
  eager-load:
    enabled: true #开启Ribbon的饥饿加载模式
    clients: vasms-auth#,vasms-upms-service #指定需要饥饿加载的服务名
  Httpclient:
    enabled: false
  OkHttp:  #OkHttp 也提供了对 HTTP 响应的缓存机制，会自动重试一个主机的多个 IP 地址
    enabled: true
  ReadTimeout: 10000
  ConnectTimeout: 10000

feign:
  hystrix: # 开启Hystrix功能
    enabled: true
  okhttp:
    enabled: true
  httpclient:
    enabled: false
  client:
    config:
      feignName:
        connectTimeout: 30000
        readTimeout: 30000
  compression:
    request:
      enabled: true
    response:
      enabled: true

hystrix:
  threadpool:
    default:
      coreSize: 500
      maxQueueSize: 1000
      queueSizeRejectionThreshold: 800
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 60000    # 设置熔断超时时间

#监控短点配置
management:
  security:
    enabled: false
endpoints:
  actuator:
    enabled: true
  shutdown:
    enabled: false

